<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array/>
	<key>B</key>
	<array/>
	<key>C</key>
	<array/>
	<key>D</key>
	<array>
		<dict>
			<key>name</key>
			<string>电子工程学院</string>
			<key>phone</key>
			<array>
				<string>88166273</string>
			</array>
		</dict>
	</array>
	<key>E</key>
	<array/>
	<key>F</key>
	<array/>
	<key>G</key>
	<array>
		<dict>
			<key>name</key>
			<string>管理与工程学院</string>
			<key>phone</key>
			<array>
				<string>85383292</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>国际教育学院</string>
			<key>phone</key>
			<array>
				<string>88166466</string>
			</array>
		</dict>
	</array>
	<key>H</key>
	<array/>
	<key>I</key>
	<array/>
	<key>J</key>
	<array>
		<dict>
			<key>name</key>
			<string>经济与管理学院</string>
			<key>phone</key>
			<array>
				<string>85383280</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>计算机学院</string>
			<key>phone</key>
			<array>
				<string>88166055</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>继职学院</string>
			<key>phone</key>
			<array>
				<string>88166279</string>
			</array>
		</dict>
	</array>
	<key>K</key>
	<array/>
	<key>L</key>
	<array>
		<dict>
			<key>name</key>
			<string>理学院</string>
			<key>phone</key>
			<array>
				<string>88166335</string>
			</array>
		</dict>
	</array>
	<key>M</key>
	<array>
		<dict>
			<key>name</key>
			<string>马克思主义教育研究院</string>
			<key>phone</key>
			<array>
				<string>88166041</string>
			</array>
		</dict>
	</array>
	<key>N</key>
	<array/>
	<key>O</key>
	<array/>
	<key>P</key>
	<array/>
	<key>Q</key>
	<array/>
	<key>R</key>
	<array>
		<dict>
			<key>name</key>
			<string>人文社科学院</string>
			<key>phone</key>
			<array>
				<string>88166357</string>
			</array>
		</dict>
	</array>
	<key>S</key>
	<array>
		<dict>
			<key>name</key>
			<string>数字媒体艺术系</string>
			<key>phone</key>
			<array>
				<string>88166125</string>
			</array>
		</dict>
	</array>
	<key>T</key>
	<array>
		<dict>
			<key>name</key>
			<string>体育部</string>
			<key>phone</key>
			<array>
				<string>88166241</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>通信工程学院</string>
			<key>phone</key>
			<array>
				<string>88166381</string>
			</array>
		</dict>
	</array>
	<key>U</key>
	<array/>
	<key>V</key>
	<array/>
	<key>W</key>
	<array>
		<dict>
			<key>name</key>
			<string>外语系</string>
			<key>phone</key>
			<array>
				<string>88166362</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>物联网与两化融合研究院</string>
			<key>phone</key>
			<array>
				<string>85383209</string>
			</array>
		</dict>
	</array>
	<key>X</key>
	<array/>
	<key>Y</key>
	<array/>
	<key>Z</key>
	<array>
		<dict>
			<key>name</key>
			<string>自动化学院</string>
			<key>phone</key>
			<array>
				<string>88166341</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
